<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="addressBookApp">
<head>
	<title>Address book</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script	src="lib/jquery.min.js"></script>
	<script	src="lib/bootstrap.min.js"></script>
	<script	src="lib/angular.min.js"></script>
	<script src="lib/angular-resource.min.js"></script>
	<script src="lib/pagination.js"></script>
	<script src="js/controllers.js"></script>
</head>

<body ng-controller="AddressBookController">

<div class="container">

	<div class="page-header" style="margin: 0">
		<h1>Address book</h1>
	</div>

	<div style="padding:20px 0px 60px 0px">
				<span class="col-md-1" style="font-weight:bold">Search</span>
				<span class="col-md-3">
					<input class="form-control ng-pristine ng-valid" ng-model="searchKeyword" type="text">
				</span>
				<span class="col-md-6">
					<div class="alert alert-info" id="notification">{{message}}</div>
				</span>

	</div>

	<table style="width:100%">
		<tr>
			<td style="vertical-align: top">

			<div style="height:550px;">

					<div style="padding-bottom:10px">
						<input type="button" value="New" class="btn btn-primary" ng-click="new()"/>
					</div>

					<table ng-show="persons.length > 0" class="table" style="width:800px;table-layout:fixed">
						<tr>
							<th>Name</th>
							<th>Company</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Birth date</th>
							<th>Address</th>
							<th/>
							<th/>
						</tr>
						<tr dir-paginate="person in persons  | filter : searchKeyword | itemsPerPage : 5">
							<td>{{person.firstName}} {{person.lastName}}</td>
							<td>{{person.company.name}}</td>
							<td>{{person.phone}}</td>
							<td>{{person.email}}</td>
							<td>{{person.birthDate}}</td>
							<td>{{person.address.city}}, {{person.address.address}}</td>
							<td><input type="button" value="Edit" class="btn btn-primary" ng-click="edit(person)"/></td>
							<td><input type="button" value="Remove" class="btn btn-primary" ng-click="remove(person)"/></td>
						</tr>
					</table>
				</div>

				<dir-pagination-controls
						max-size="5"
						direction-links="true"
						boundary-links="true" >
				</dir-pagination-controls>

			</td>
			<td style="vertical-align: top;float:right">
				<div id="submit-form">
					<div style="padding-bottom:20px;">
						<h3 style="margin-top:0px">Add/Edit a person</h3>
					</div>

					<form class="form-horizontal" role="form" ng-submit="submit()">

						<div class="form-group">
							<label class="col-md-3">First name</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="firstName"
									   ng-model="firstName" required/>
							</div>

						</div>
						<div class="form-group">
							<label class="col-md-3">Last name</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="lastName"
									   ng-model="lastName" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3">Phone</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="phone"
									   ng-model="phone" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3">Email</label>
							<div class="col-md-8">
								<input type="email" class="form-control" name="email"
									   ng-model="email" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3">Birth date</label>
							<div class="col-md-8">
								<input type="date" class="form-control" name="birthDate"
									   ng-model="birthDate" required />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3">Address</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="address"
									   ng-model="address" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3">City</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="city"
									   ng-model="city" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3">Company</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="company"
									   ng-model="company" required/>
							</div>
						</div>
						<div class="form-group">
							<div style="padding-left:50px">
								<input type="submit" value="Submit" class="btn btn-primary"/>
								<input type="button" value="Cancel" class="btn btn-primary" ng-click="cancel()"/>
							</div>

						</div>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>